<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
<%= form_tag retrieve_password_path do %>
  <div class="form-group">
    <%= text_field_tag :email, params[:email], :placeholder => "email", class: 'form-control' %>
  </div>
  <div class="actions"><%= submit_tag "Send password",class:"btn btn-info" %></div>
<% end %>

  </div>
</div>
