<div class="container">
<!-- Title -->
<div class="row">
	<h1>New case log</h1>
</div>
<hr>
<div class="row">
    <div class="col-sm-8 col-sm-offset-1">
    	<div class="signup-form">
		<%= render 'form' %>
		</div>
	</div>
	<% if @case_log.errors.any? %>
    <div id="error_explanation" class="col-sm-3">
      <strong><%= pluralize(@case_log.errors.count, "error") %> prohibited this case_log from being saved:</strong>

      <ul>
      <% @case_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  	<% end %>
</div>
<%= link_to 'Back', case_logs_path %>
</div>