<div class="container">
<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>New case log</h3>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    	<div class="signup-form">
		<%= render 'form' %>
		</div>
	</div>
</div>
<%= link_to 'Back', case_logs_path %>
</div>