@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	}
	
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
	}

/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
/*
	960 Grid System ~ Text CSS.
	Learn more ~ http://960.gs/
	Licensed under GPL and MIT.
*/

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
	color: #111111;
	font: 13px/1.5 'Helvetica Neue', Arial, sans-serif;
	}

a:focus { outline: 1px dotted; }

hr {
	border: 0 #d7d6d7 solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
	}

	
/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 { font-size: 24px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }


/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol { list-style: decimal; }
ul { list-style: disc; }
li { margin-left: 30px; }

p, dl, hr, h1, h2, h3, h4, h5, h6,
ol, ul, pre, table, address, fieldset {
	margin-bottom: 20px;
	}
/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/
*/


/* Containers
----------------------------------------------------------------------------------------------------*/

.container_16, .container_20 {
	margin-left: auto;
	margin-right: auto;
	}

.container_16 {	width: 960px; }
.container_20 { width: 1200px; }


/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5,
.grid_6, .grid_7, .grid_8, .grid_9, .grid_10,
.grid_11, .grid_12, .grid_13, .grid_14, .grid_15,
.grid_20, .grid_17, .grid_18, .grid_19, .grid_20 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha { margin-left: 0; }
.omega { margin-right: 0; }


/* Grid >> 16 Columns, 20 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .grid_1 { width: 40px; }
.container_16 .grid_2 { width: 100px; }
.container_16 .grid_3 { width: 160px; }
.container_16 .grid_4 { width: 220px; }
.container_16 .grid_5 { width: 280px; }
.container_20 .grid_6 { width: 340px; }
.container_16 .grid_7 { width: 400px; }
.container_16 .grid_8 { width: 460px; }
.container_16 .grid_9 { width: 520px; }
.container_16 .grid_10 { width: 580px; }
.container_16 .grid_11 { width: 640px; }
.container_16 .grid_12 { width: 700px; }
.container_16 .grid_13 { width: 760px; }
.container_16 .grid_14 { width: 820px; }
.container_16 .grid_15 { width: 880px; }
.container_16 .grid_20 { width: 940px; }

.container_20 .grid_1  { width: 40px; }
.container_20 .grid_2  { width: 100px; }
.container_20 .grid_3  { width: 160px; }
.container_20 .grid_4  { width: 220px; }
.container_20 .grid_5  { width: 280px; }
.container_20 .grid_6  { width: 340px; }
.container_20 .grid_7  { width: 400px; }
.container_20 .grid_8  { width: 460px; }
.container_20 .grid_9  { width: 520px; }
.container_20 .grid_10 { width: 580px; }
.container_20 .grid_11 { width: 640px; }
.container_20 .grid_12 { width: 700px; }
.container_20 .grid_13 { width: 760px; }
.container_20 .grid_14 { width: 820px; }
.container_20 .grid_15 { width: 880px; }
.container_20 .grid_20 { width: 940px; }
.container_20 .grid_17 { width: 1000px; }
.container_20 .grid_18 { width: 1060px; }
.container_20 .grid_19 { width: 1120px; }
.container_20 .grid_20 { width: 1180px; }


/* Prefix Extra Space >> 16 Columns, 20 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .prefix_1 { padding-left: 60px; }
.container_16 .prefix_2 { padding-left: 120px; }
.container_16 .prefix_3 { padding-left: 180px; }
.container_16 .prefix_4 { padding-left: 240px; }
.container_16 .prefix_5 { padding-left: 300px; }
.container_16 .prefix_6 { padding-left: 360px; }
.container_16 .prefix_7 { padding-left: 420px; }
.container_16 .prefix_8 { padding-left: 480px; }
.container_16 .prefix_9 { padding-left: 540px; }
.container_16 .prefix_10 { padding-left: 600px; }
.container_16 .prefix_11 { padding-left: 660px; }
.container_16 .prefix_12 { padding-left: 720px; }
.container_16 .prefix_13 { padding-left: 780px; }
.container_16 .prefix_14 { padding-left: 840px; }
.container_16 .prefix_15 { padding-left: 900px; }

.container_20 .prefix_1 { padding-left: 60px; }
.container_20 .prefix_2 { padding-left: 120px; }
.container_20 .prefix_3 { padding-left: 180px; }
.container_20 .prefix_4 { padding-left: 240px; }
.container_20 .prefix_5 { padding-left: 300px; }
.container_20 .prefix_6 { padding-left: 360px; }
.container_20 .prefix_7 { padding-left: 420px; }
.container_20 .prefix_8 { padding-left: 480px; }
.container_20 .prefix_9 { padding-left: 540px; }
.container_20 .prefix_10 { padding-left: 600px; }
.container_20 .prefix_11 { padding-left: 660px; }
.container_20 .prefix_12 { padding-left: 720px; }
.container_20 .prefix_13 { padding-left: 780px; }
.container_20 .prefix_14 { padding-left: 840px; }
.container_20 .prefix_15 { padding-left: 900px; }
.container_20 .prefix_20 { padding-left: 960px; }
.container_20 .prefix_17 { padding-left: 1020px; }
.container_20 .prefix_18 { padding-left: 1080px; }
.container_20 .prefix_19 { padding-left: 1140px; }


/* Suffix Extra Space >> 16 Columns, 20 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .suffix_1 { padding-right: 60px; }
.container_16 .suffix_2 { padding-right: 120px; }
.container_16 .suffix_3 { padding-right: 180px; }
.container_16 .suffix_4 { padding-right: 240px; }
.container_16 .suffix_5 { padding-right: 300px; }
.container_16 .suffix_6 { padding-right: 360px; }
.container_16 .suffix_7 { padding-right: 420px; }
.container_16 .suffix_8 { padding-right: 480px; }
.container_16 .suffix_9 { padding-right: 540px; }
.container_16 .suffix_10 { padding-right: 600px; }
.container_16 .suffix_11 { padding-right: 660px; }
.container_16 .suffix_12 { padding-right: 720px; }
.container_16 .suffix_13 { padding-right: 780px; }
.container_16 .suffix_14 { padding-right: 840px; }
.container_16 .suffix_15 { padding-right: 900px; }

.container_20 .suffix_1 { padding-right: 60px; }
.container_20 .suffix_2 { padding-right: 120px; }
.container_20 .suffix_3 { padding-right: 180px; }
.container_20 .suffix_4 { padding-right: 240px; }
.container_20 .suffix_5 { padding-right: 300px; }
.container_20 .suffix_6 { padding-right: 360px; }
.container_20 .suffix_7 { padding-right: 420px; }
.container_20 .suffix_8 { padding-right: 480px; }
.container_20 .suffix_9 { padding-right: 540px; }
.container_20 .suffix_10 { padding-right: 600px; }
.container_20 .suffix_11 { padding-right: 660px; }
.container_20 .suffix_12 { padding-right: 720px; }
.container_20 .suffix_13 { padding-right: 780px; }
.container_20 .suffix_14 { padding-right: 840px; }
.container_20 .suffix_15 { padding-right: 900px; }
.container_20 .suffix_20 { padding-right: 960px; }
.container_20 .suffix_17 { padding-right: 1020px; }
.container_20 .suffix_18 { padding-right: 1080px; }
.container_20 .suffix_19 { padding-right: 1140px; }


/* Push Space >> 16 Columns, 20 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .push_1 { left: 60px; }
.container_16 .push_2 { left: 120px; }
.container_16 .push_3 { left: 180px; }
.container_16 .push_4 { left: 240px; }
.container_16 .push_5 { left: 300px; }
.container_16 .push_6 { left: 360px; }
.container_16 .push_7 { left: 420px; }
.container_16 .push_8 { left: 480px; }
.container_16 .push_9 { left: 540px; }
.container_16 .push_10 { left: 600px; }
.container_16 .push_11 { left: 660px; }
.container_16 .push_12 { left: 720px; }
.container_16 .push_13 { left: 780px; }
.container_16 .push_14 { left: 840px; }
.container_16 .push_15 { left: 900px; }

.container_20 .push_1 { left: 60px;  }
.container_20 .push_2 { left: 120px; }
.container_20 .push_3 { left: 180px; }
.container_20 .push_4 { left: 240px; }
.container_20 .push_5 { left: 300px; }
.container_20 .push_6 { left: 360px; }
.container_20 .push_7 { left: 420px; }
.container_20 .push_8 { left: 480px; }
.container_20 .push_9 { left: 540px; }
.container_20 .push_10 { left: 600px; }
.container_20 .push_11 { left: 660px; }
.container_20 .push_12 { left: 720px; }
.container_20 .push_13 { left: 780px; }
.container_20 .push_14 { left: 840px; }
.container_20 .push_15 { left: 900px; }
.container_20 .push_20 { left: 960px; }
.container_20 .push_17 { left: 1020px; }
.container_20 .push_18 { left: 1080px; }
.container_20 .push_19 { left: 1140px; }

.push_0, .push_1, .push_2, .push_3, .push_4,
.push_5, .push_6, .push_7, .push_8, .push_9,
.push_10, .push_11, .push_12, .push_13, .push_14,
.push_15, .push_20, .push_17, .push_18, .push_19 {
	position: relative;
	}


/* Pull Space >> 16 Columns, 20 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .pull_1 { left: -60px; }
.container_16 .pull_2 { left: -120px; }
.container_16 .pull_3 { left: -180px; }
.container_16 .pull_4 { left: -240px; }
.container_16 .pull_5 { left: -300px; }
.container_16 .pull_6 { left: -360px; }
.container_16 .pull_7 { left: -420px; }
.container_16 .pull_8 { left: -480px; }
.container_16 .pull_9 { left: -540px; }
.container_16 .pull_10 { left: -600px; }
.container_16 .pull_11 { left: -660px; }
.container_16 .pull_12 { left: -720px; }
.container_16 .pull_13 { left: -780px; }
.container_16 .pull_14 { left: -840px; }
.container_16 .pull_15 { left: -900px; }

.container_20 .pull_1 { left: -60px; }
.container_20 .pull_2 { left: -120px; }
.container_20 .pull_3 { left: -180px; }
.container_20 .pull_4 { left: -240px; }
.container_20 .pull_5 { left: -300px; }
.container_20 .pull_6 { left: -360px; }
.container_20 .pull_7 { left: -420px; }
.container_20 .pull_8 { left: -480px; }
.container_20 .pull_9 { left: -540px; }
.container_20 .pull_10 { left: -600px; }
.container_20 .pull_11 { left: -660px; }
.container_20 .pull_12 { left: -720px; }
.container_20 .pull_13 { left: -780px; }
.container_20 .pull_14 { left: -840px; }
.container_20 .pull_15 { left: -900px; }
.container_20 .pull_20 { left: -960px; }
.container_20 .pull_17 { left: -1020px; }
.container_20 .pull_18 { left: -1080px; }
.container_20 .pull_19 { left: -1140px; }

.pull_0, .pull_1, .pull_2, .pull_3, .pull_4,
.pull_5, .pull_6, .pull_7, .pull_8, .pull_9,
.pull_10, .pull_11, .pull_12, .pull_13, .pull_14,
.pull_15, .pull_20, .pull_17, .pull_18, .pull_19 {
	position: relative;
	}

	
/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	}

.clearfix { display: inline-block; }

* html .clearfix { height: 1%; }

/*
	The following zoom:1 rule is specifically for IE6 + IE7.
	Move to separate stylesheet if invalid CSS is a problem.
*/
* html .clearfix, *:first-child+html .clearfix { zoom: 1; }

