body { color: #000 !important; }

.noprint, #dealAlertForm, #userPanel, #superuserPanel, .widgetImageWrap { display: none !important; }

.pagebreak { page-break-before: always; }

body.suCheckout #badge {
	background: none !important;
	display: list-item !important;
	list-style-image: url("resource://images.studentuniverse.com/new/structure/sulogobadge.png") !important;
	list-style-position: inside !important;
	}

.topBar #badge { text-indent: 0 !important; }

.suCheckout .hotelsWidgetItem, .suCheckout .activitiesWidgetItem {
	max-width: none;
	width: 232px;
	}
	
body#suMyActivities h1, body.suTravelGuides h1, body.suCheckout h1, body#su404 h1 { 
	color: #fff;
	display: list-item;
	font-size: 1pt;
	letter-spacing: -1000em;
	list-style-position: inside;
	}

body#su404 h1 { list-style-image: url("resource://images.studentuniverse.com/new/structure/sulogobadge.png"); }
	
a { 
	color: #000 !important;
	text-decoration: underline !important; 
	}
	
body.suCheckout h1, body#su404 h2, .mainTop ul a, .mainLeftContainer h3, .mainLeftContainer h5, .activityPopup h3, 
.infoPopup h3, .rightTeaserBox h4, .footAnswer h4, .contentType h4, .rightCheckoutContact h4, .footAnswer h5, 
body#suMyActivities .activityPopup h5, .activityCheckout h5, .center h5, body.suCheckout div.billingAddress strong, 
body#suMyActivities ul.myactivitiesTop li.myactivitiesHeader, body#suMyActivities h6, 
body#suMyActivities .tripleColHeader, body.suCheckout .rightCheckoutContact h4, body.suCheckout .col h6, 
.calendarDetailMonth {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	}

body.suTravelGuides .mainTop ul .selected, body.suTravelGuides .mainLeftContainer h3, 
body.suTravelGuides .activityPopup h3, body.suTravelGuides .infoPopup h3, body.suTravelGuides .rightTeaserBox h4, 
body.suTravelGuides .activityData h5, body.suTravelGuides .suRefine h6, body.suTravelGuides .pricepoint, 
body.suTravelGuides .calendarDetailMonth, body.suTravelGuides .suPopup h5, body.suTravelGuides .reviewBottom strong, 
body.suTravelGuides #loadMoreDiv, body.suCheckout h1, body#su404 h2, body.suCheckout h2, body.suCheckout h3, 
body.suCheckout .mainTop ul .selected, body.suCheckout .mainLeftContainer h3, body.suCheckout .rightTeaserBox h4, 
body.suCheckout .contentType h4, body.suCheckout .activityCheckout h5, body.suCheckout h6.terms, 
body.suCheckout .pricepoint, body.suCheckout .calendarheader span, body.suCheckout .calendarDetailMonth, 
body.suCheckout div.billingAddress strong, body.suCheckout .suPopup h5, .center h5, body#suMyActivities h2, 
body#suMyActivities .mainTop ul .selected, body#suMyActivities .mainLeftContainer h3, 
body#suMyActivities .activityPopup h3, body#suMyActivities .rightTeaserBox h4, body#suMyActivities .contentType h4, 
h4, body.suCheckout .activityItemCol2 h4, body#suMyActivities .myActivitiesBlockDetailCol1 h4, 
body#suMyActivities .activityCheckout h5, body#suMyActivities .activityPopup h5, body#suMyActivities h6.terms, 
body#suMyActivities .pricepoint, body#suMyActivities .calendarheader span, body#suMyActivities .calendarDetailMonth, 
body#suMyActivities div.billingAddress strong, body#suMyActivities .suPopup h5, 
body#suMyActivities ul.myactivitiesTop li.myactivitiesHeader, body#suMyActivities h6, 
body#suMyActivities .tripleColHeader, body#suMyActivities .mainLeftContainer h5, 
body#suMyActivities .reviewBottom strong, body.suCheckout .rightCheckoutContact h4, body.suCheckout .col h6, 
body.suCheckout .price, .flashMsgText, .green, .calendarDayNA, .calendarDayOffMonth, .reviewEntry p, 
ul.alertline li, .checkoutNameError, .checkoutError, .checkoutAlert, .adLabelHorizonal, .adLabelVertical, 
.calendarDayNA, .calendarDayOffMonth, .calendarDetailSelectMonth, .topControlsBar p, .activityabstract, 
.calendarDayHasProd strong, .activityBrief p, .gray, #cboxTitle, #cboxCurrent, #cboxSlideshow, #cboxPrevious, 
#cboxNext, #cboxClose, .textBox, .calendarIcon, body.suTravelGuides .calendarheader span, body.suCheckout h1, 
body#su404 h2, body.suCheckout h2, body.suCheckout h3, body.suCheckout h6.travelerHead, 
body.suCheckout .mainTop ul .selected, body.suCheckout .navUpdate ul .selected, body.suCheckout .navUpdatezhCN ul .selected,  
body.suCheckout .mainLeftContainer h1, body.suCheckout .mainLeftContainer h3, body.suCheckout .rightTeaserBox h4, 
body.suCheckout .contentType h4, body.suCheckout .activityCheckout h5, body.suCheckout .cartLoginWrap h3, 
body.suCheckout h6.terms, body.suCheckout .pricepoint, body.suCheckout .calendarheader span, 
body.suCheckout .calendarDetailMonth, body.suCheckout div.billingAddress strong, body.suCheckout .suPopup h5, 
.center h5, body#suMyActivities h2, body#suMyActivities .mainTop ul .selected, 
body#suMyActivities .navUpdate ul .selected, body#suMyActivities .navUpdatezhCN ul .selected, body#suMyActivities .mainLeftContainer h1, 
body#suMyActivities .mainLeftContainer h3, body#suMyActivities .activityPopup h3, 
body#suMyActivities .rightTeaserBox h4, body#suMyActivities .contentType h4, h4, 
body.suCheckout .activityItemCol1 h4, body.suCheckout .hotelItemCol2 h4, 
body#suMyActivities .myActivitiesBlockDetailCol1 h4, body#suMyActivities .activityCheckout h5, 
body.suCheckout h5, body#suMyActivities .activityPopup h5, body#suMyActivities h6.terms, 
body#suMyActivities .pricepoint, body#suMyActivities .calendarheader span, 
body#suMyActivities .calendarDetailMonth, body#suMyActivities div.billingAddress strong, 
body#suMyActivities .suPopup h5, body#suMyActivities ul.myactivitiesTop li.myactivitiesHeader, 
body#suMyActivities h6, body#suMyActivities .tripleColHeader, body#suMyActivities .mainLeftContainer h5, 
body#suMyActivities .reviewBottom strong, body.suCheckout .rightCheckoutContact h4, body.suCheckout .col h6, 
body.suCheckout .price, body#suMyActivities .cancelPopup h3, .groupsRequestFrom h4, body#su404 h1, .red {
	color: #000 !important;
	}

.suRefine, .suActivityCalendar, .suHotelRates, .contentType, .tourOptions, .suCheckout .hotelsWidget, 
.suCheckout .activitiesWidget, .suCheckout .checkoutWrap, .flightDetailWrap, .hotelDetailWrap, 
.activityDetailWrap { 
	border: 1px solid #000 !important; 
	}
	
.headerBottomBorder { border-bottom: 1px solid #fff !important; }

#flightPolicies { display: inline !important; }
	
.flightDetailWrap p, .hotelDetailWrap p, .activityDetailWrap p { text-align: left !important; }

.flightDetailWrap h5 {
	font: 13px/1.5 'Helvetica Neue',Arial,sans-serif !important;
	margin-bottom: 5px;
	margin-top: 20px; 
	}
	
h2 { text-shadow: none; }