html {height:100%;}
body{background: url(../../static/images/es_bg_2014.jpg) no-repeat scroll 0 0 #FFF; height:100%;}


#email-error {
    display: none;
    font-size: 11px;
}
.red {
    color: red;
}
.note {
    font-size:10px;
    color:#666666;
}
.note a {
    text-decoration:underline;
    color:#666666;
}

#inner-content-main {
    clear: both;
    position: relative;
}
#inner-content-main .footer-message {
    
}
