body{color:#58595B;font-family: 'Open Sans',Verdana,Geneva,sans-serif;background: #FFF;font-size:8pt;line-height:1.6em}
ol,ul{list-style:none outside none;line-height:2em}
.hidden{display:none;visibility:hidden;}
.tablefullspanclean{border:0;width:100%}
.tablefullspanclean thead{padding:5px;font-weight:700}
.attribution{color:#fff;font-size:15px;text-align:center}
.quote{color:#fff;font-size:21px;line-height:35px;margin:0 auto 20px;text-align:center}
a.gallerypic {text-decoration: none;position: relative;display: block;margin-right: 0px;float: left;padding: 3px 3px 3px 0;}
a.gallerypic .zoom-icon {position: absolute;left: 70%;top: 60%;}
a.gallerypic:hover .zoom-icon {visibility: visible;}
#navigation-container{border:0 none;border-bottom:0 solid #DDD;position:relative;margin:0 auto;padding:1em 0 .2em;height:60px}
#orange-bar{width:100%;background-color:#1d83da;min-height:4px;-moz-box-shadow:0 3px 4px #CCC;-webkit-box-shadow:0 3px 4px #CCC;box-shadow:0 3px 4px #CCC}
#header-separator{height:3px;background-color:#fe7c34;width:100%;float:right;padding:0}
#beta-bar{width:100%;min-height:35px;background-color:#FFF4E2;font-size:110%;border-bottom:1px solid orange}
.notification-bar p{font-size:100%;color:#FE7C34;font-weight:700;padding-left:10px}
#javascript-disabled-bar{width:100%;min-height:35px;background-color:#FFF4E2;font-size:100%;border-bottom:1px solid orange;display:none}
.blue{color:#4D90E7;text-decoration:underline}
#profile{height:20px;overflow-y:hidden;position:absolute;right:0;margin-right:0}
#profile:hover{height:auto;-webkit-box-shadow:0 3px 7px #CCC;box-shadow:0 3px 7px #CCC;z-index:99001!important;position:absolute;-moz-box-shadow:0 3px 7px #CCC;border:1px solid #f0f0f0;border-top:0;background:#FFF;-moz-border-radius-bottomright:5px;-khtml-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomleft:5px;-khtml-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px}
#profile:hover a:hover{background:#ececec}
#jsddm{z-index:99000!important;margin:0;padding:0}
#jsddm .topnav ol,ul{line-height:1.2em}
#jsddm li{float:left;list-style:none;z-index:99000!important;overflow-y:hidden}
#jsddm li a{z-index:99900!important;display:block;text-decoration:none;border-right:1px solid #CCC;white-space:nowrap;padding:5px 15px}
#jsddm .topnav_inner_menu li a{border-right:0 solid #CCC}
#jsddm li a:hover{z-index:99000!important;text-decoration:underline}
#jsddm li ul{line-height:1.9em;-webkit-box-shadow:0 1px 2px #CCC;box-shadow:0 1px 2px #CCC;-moz-box-shadow:0 1px 2px #CCC;z-index:99000!important;position:absolute;border:1px solid #f0f0f0;border-top:0;background:#FFF;-moz-border-radius-bottomright:5px;-khtml-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomleft:5px;-khtml-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;margin:0;visibility:hidden}
#jsddm li ul li{float:none;display:inline}
#jsddm li ul li a{width:auto}
#jsddm li ul li a:hover{background:#ececec}
.separator{clear:both;height:20px;font-size:1px;border:0;background:0 0;margin:0;padding:0}
.separator-big{clear:both;height:40px;font-size:1px;border:0;background:0 0;margin:0;padding:0}
.separator-medium{clear:both;height:10px;font-size:1px;border:0;background:0 0;margin:0;padding:0}
.separator-small{clear:both;height:5px;font-size:1px;border:0;background:0 0;margin:0;padding:0}
#footer{clear:both;color:#898378;text-align:none;margin:0 auto auto}
#footerlinks{padding-top:40px;margin:auto}
#footerlinks h3{font-size:140%;line-height:1.4em}
#footer li{border-left:1px solid #CCC;padding:0 8px}
#footer a:link,#footer a:visited{color:#898378}
#footer a:hover{color:#c26f04;text-decoration:underline}
#footerPress{background:#ff9130;clear:both;color:#eee;min-height:145px;text-align:none;margin:auto}
#footerPressContent{background:url(../../static/images/footer/footerPressContent.png) no-repeat scroll left top;border-top:1px dashed #;min-height:145px;margin:auto}
#footerPressContent .pressQuote{color:#FFF;font-family:Georgia,Times,"Times New Roman",serif;font-size:14px;font-style:italic;font-weight:500}
.border{border-bottom:1px dotted #A3A4A7;padding-bottom:5px;margin-bottom:10px;clear:both}
.border-review{border-bottom:1px dotted #e8e7e5;padding-bottom:5px;margin-bottom:5px;clear:both}
.favicon_small{height:16px;width:16px;padding-right:5px;float:left}
.js-only{display:block}
.js-disabled{display:none}
h1,h2,h3,h4{color:#444;font-family:Helvetica,Georgia,"Times New Roman",Arial,sans-serif;margin:.2em 0}
.note{color:#666;font-family:"Lucida Grande",Verdana,Corbel,"Bitstream Vera Sans","DejaVu Sans",sans-serif;font-size:95%;line-height:1.2em}
a.button-orange{text-shadow:0 1px 0 #ba7600;background:transparent url(../../static/images/bg_button_a_orange.png) no-repeat scroll top right;color:#fff;display:block;float:left;font:18px arial,sans-serif;font-weight:700;height:44px;padding-right:18px;text-decoration:none}
a.button-orange span{background:transparent url(../../static/images/bg_button_span_orange.png) no-repeat;display:block;line-height:34px;padding:5px 0 5px 18px}
a.button-orange:hover{text-shadow:0 1px 0 #FFF;background-position:bottom right;color:#ba7600;outline:0}
a.button-orange:active{-moz-box-shadow:0 0 0 #CCC;background-position:top right;color:#744c00;outline:0}
.form-field{position:relative}
.field-info{margin:8px 0 0 0;padding:10px 5px 5px 10px;position:absolute;width:280px;z-index:11;left:00px;border:1px solid #b9b9b9;-moz-border-radius:4px;border-radius:4px;background:#fff;display:none;top:0}
#joinus .field-info{min-height:6em;left:356px}
#signup .field-info{left:410px}
.field-info div{width:180px;margin:auto;padding:10px 0}
.field-info img{position:absolute;left:-4px;top:3em}
.field-info>p{padding:10px 0}
.field-error-below p{margin:0}
.formlogin_dash{-moz-border-radius:2px;border:1px solid #CCC;color:#666;display:block;font-size:110%;height:34px;margin-bottom:8px;outline:medium none;width:330px;padding:4px 8px}
.formlogin_dash:hover{-moz-border-radius:2px;border:2px solid #CCC;color:#666;display:block;font-size:110%;height:34px;margin-bottom:8px;outline:medium none;padding:4px 8px;-moz-box-shadow:0 1px 4px #CCC;-webkit-box-shadow:0 1px 4px #CCC;box-shadow:0 1px 4px #CCC}
.formlogin_username{-moz-border-radius:2px;border:2px solid #CCC;color:#666;display:block;font-size:110%;height:30px;margin-bottom:8px;outline:medium none;padding:4px 8px}
.formlogin_username:hover{border:3px solid orange}
.orange{color:orange}
.formlogin_cc{-moz-border-radius:2px;border:2px solid #CCC;color:#666;display:block;font-size:110%;height:25px;margin-bottom:8px;outline:medium none;padding:4px 8px}
.formlogin_cc:hover{-moz-border-radius:2px;border:2px solid orange;color:#666;display:block;font-size:110%;height:25px;margin-bottom:8px;outline:medium none;padding:4px 8px}
.formsurvey{-moz-border-radius:2px;border:1px solid #CCC;color:#666;display:block;font-size:130%;height:28px;margin-bottom:8px;outline:medium none;padding:4px 8px}
.fl{float:left}
.fr{float: right}
div.orbit-wrapper div.timer{display:none}
.store-icon{width:16px;height:16px;margin:2px 5px;vertical-align:middle}
.store-thumb-small{width:40px;height:40px;margin:2px 5px;vertical-align:middle}
.autocomplete-entry{font-size:15px}
.ui-autocomplete .autocomplete-entry a:hover{font-family:"Helvetica Neue",Arial,sans-serif;font-size:15px;color:#fff}
.ui-autocomplete .autocomplete-entry a{font-size:15px}
#footer li.first-child,#storeList li.first-child{border:medium none;padding-left:0}
.ui-state-focus,.ui-state-hover,.ui-widget-content .ui-state-focus,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-focus,.ui-widget-header .ui-state-hover{background-color:orange;font-weight:400;color:#fff}
.checkmark{list-style-position:outside;line-height:1.4em;font-size:14px;font-style:italic}
#nextBook a#book.agency{background:url(../images/resources/guide_grey.jpg) center}
table td .success{display:block;width:100%;height:23px;background:url(../../static/images/tickscrosses.png) center no-repeat;background-position:center -313px;overflow:hidden;text-indent:-9000px}
table td .success.true{background-position:center -13px}
table td .success.false{background-position:center -113px}
table td .success.info{background-position:center -213px}
table td .info:hover,table td a.info:hover{background-position:center -263px}
table td .success.true:hover{background-position:center -63px}
table td .success.false:hover{background-position:center -163px}
table.halfwidth{float:left;width:100%;border-bottom:1px solid #e0e5e9;font-family:"Helvetica Neue",Arial,sans-serif;font-size:1.2em;line-height:1.5em;color:#8e959c}
table.halfwidth .nohover.hover{background:0 0}
table.halfwidth td{border-bottom:1px dotted #e0e5e9;padding:10px;text-align:center}
table.halfwidth td.element-style{text-align:left;width:12.5%}
table.halfwidth td.element-header.hover,table.halfwidth td.element-header:hover,table.halfwidth tr.hover td.element-header{background-color:#fff}
table.halfwidth .hover,table.halfwidth tr:hover{background:#effafd;color:#2f353e}
table.halfwidth .hover td .success.true,table.halfwidth tr:hover td .success.true{background-position:center -63px}
table.halfwidth .hover td .success.false,table.halfwidth tr:hover td .success.false{background-position:center -163px}
table.halfwidth thead{background:#242b33;color:#fff;border-bottom:2px solid #fff}
table.halfwidth thead td{padding-top:15px;padding-bottom:15px;border:0}
table.halfwidth thead tr.header a{color:#fff}
table.halfwidth thead tr.header a:hover{color:#72d0eb}
table.halfwidth thead tr.header a:hover .blue{color:#fff}
table.halfwidth thead tr.header td.element-header{text-align:center;color:#fff;width:12.5%;border:0;background:inherit;padding:inherit;padding:15px}
table.halfwidth thead tr:hover{background:0 0;color:#fff}
table.halfwidth thead .blue,table.halfwidth thead a{color:#72d0eb}
table.halfwidth td.element-header{text-align:left;background:url(../images/resources/teeth.gif) bottom repeat-x;width:100%;border:0;padding:10px 10px 18px;font-weight:700;color:#2f353e}
table.halfwidth .label{display:inline;background:#ffeeab;font-size:.9em;padding:2px 3px;-khtml-border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;behavior:url(http://campaignmonitor.com/assets/style/PIE.htc);color:#937f38;margin:0 0 0 2px}
table.video thead td.header td.element-header,table.video tr td.element-style{width:16%}
table.video td{width:12%}
table.images td,table.images td.element-style,table.images thead td.header td.element-header,table.images tr td.element-style{width:25%}
table.forms{color:#8e959c}
table.forms thead tr.header td.client{text-align:center;font-size:1.2em;color:#2f353e}
table.halfwidth.wide{width:80%}
#stickyNav{display:none;position:fixed;top:0;margin-top:0}
@media screen and (max-width:1250px){table.halfwidth.wide{width:98%;margin:0 1% 90px}
table.halfwidth.wide .label{display:none}
}
.signupbar{background:url(../../static/images/texture.png) repeat #2f353e;border-top:5px solid #242b33;padding:10px 0 55px;margin:15px 0 30px}
.stars{background-image:url(../../static/images/icons/stars/star-sprite.png);background-repeat:no-repeat;height:16px;margin:0;padding:0;vertical-align:top;width:80px;border:0}
.stars.zero{background-position:0 0}
.stars.half{background-position:0 -16px}
.stars.one{background-position:0 -32px}
.stars.onehalf{background-position:0 -48px}
.stars.two{background-position:0 -64px}
.stars.twohalf{background-position:0 -80px}
.stars.three{background-position:0 -96px}
.stars.threehalf{background-position:0 -112px}
.stars.four{background-position:0 -128px}
.stars.fourhalf{background-position:0 -144px}
.stars.five{background-position:0 -160px}
.rr-sc-box{padding:3px 10px 3px 0;border:1px solid #F0BAA2;text-indent:50px}
.rr-sc-box.alert{background:url(../../static/images/ico-alert.png) no-repeat scroll 20px 45% #FFD9C8;border-color:#F0BAA2;color:red}
.rr-sc-box.note{background:url(../../static/images/ico-note.png) no-repeat scroll 20px 45% #FFD9C8;border-color:#F0BAA2}
.rr-sc-box.notehappy{background:#c9dfbe;border-color:#84b56d}
.rr-sc-box.noteSad{background:url(../../static/images/ico-note.png) no-repeat scroll 20px 45% #a8d890;border-color:#F0BAA2;color:#455638}
.rr-sc-box.yellowbox{background:#ffffdf;border-color:#fcfccd}
.rr-sc-box.yellowbox:hover{background:#fcfccd;border-color:#fcfccd}
.rr-sc-box.noteAvatar{background-color:#d7efc2;border-color:#84b56d}
.rr-sc-box.noteheartedstores{background:url(../../static/images/icons/profile/icon-hearted-stores.png) no-repeat scroll 10px 45% #FFF4E2;border-color:#f5a361}
.rr-sc-box.notedislikedstores{background:url(../../static/images/icons/profile/icon-disliked-stores.png) no-repeat scroll 10px 45% #FFF4E2;border-color:#f5a361}
.rr-sc-box.reviewlist{background:url(../../static/images/icons/profile/icon-rev.png) no-repeat scroll 10px 45% #FFF4E2;border-color:#f5a361}
.rr-sc-box.bluebox{background:#add7e5;border-color:#63a0b4}
.rr-sc-box.notebox{background:url(../../static/images/icon_store.png) no-repeat scroll 20px 45% #add7e5;background-color:#E0F5FB;border-radius:6px;color:#505156;border-color:#caf1fc}
.rr-sc-box.noteboxplain{background-color:#E0F5FB;border-radius:6px;color:#505156;border-color:#caf1fc}
#fade{display:none;background:#000;position:fixed;left:0;top:0;width:100%;height:100%;opacity:.5;z-index:9999}
.popup_block{display:none;background:#fff;border:1px solid orange;float:left;font-size:1.2em;position:fixed;top:50%;left:50%;z-index:99999;-webkit-box-shadow:0 0 20px #000;-moz-box-shadow:0 0 20px #000;box-shadow:0 0 20px #000;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;padding:20px}
img.btn_close{float:right;margin:-35px -35px 0 0}
.main_view{float:left;position:relative}
.window{height:286px;width:970px;overflow:hidden;position:relative}
.image_reel{position:absolute;top:0;left:0}
pre{background:#0B1022;overflow:scroll;margin:0;padding:0;padding:10px;padding-top:0;padding-bottom:12px;color:#fff;font-size:13px;margin-bottom:20px;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
code,pre{font-family:Monaco,courier,monospace;line-height:1.4}
tt{font-family:Monaco,courier,monospace;line-height:1.0;background:#0B1022;margin:0;padding:0;padding:0 3px;color:#fff;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;font-weight:normal;}
tt .comment, pre .comment{color:#727272}
tt .constant, pre .constant{color:#D8FA3C}
tt .storage, pre .storage{color:#FBDE2D}
tt .string, pre .comment.docstring,pre .string{color:#61CE3C}
pre .string.regexp,pre .support.tag.script,pre .support.tag.style{color:#fff}
tt .keyword,pre .keyword,pre .selector{color:#FBDE2D}
tt .inherited-class, pre .inherited-class{font-style:italic}
tt .entity, pre .entity{color:#FF6400}
[data-language="c"] .function.call,tt .support, pre .support{color:#8DA6CE}
tt .variable.class, tt.variable.global, tt .variable.instance, pre .variable.class,pre .variable.global,pre .variable.instance{color:#FF6400}

.iconCategories{background-image:url(../../static/images/icons/icons_category.png);background-repeat:no-repeat;height:12px;margin:0;padding:0;vertical-align:top;width:12px;border:0}
.icons.books-and-magazines{margin-top:3px;background-position:0 0}
.icons.computer-hardware-and-software{margin-top:3px;background-position:-12px 0}
.icons.music-instruments-cds{margin-top:3px;background-position:-24px 0}
.icons.DVD-and-VHS-Videos{margin-top:3px;background-position:-36px 0}
.icons.consumer-electronics{margin-top:3px;background-position:-48px 0}
.icons.toys-games-hobbies{margin-top:3px;background-position:-60px 0}
.icons.sports-and-outdoors{margin-top:3px;background-position:-72px 0}
.icons.apparel-and-jewelry{margin-top:3px;background-position:-84px 0}
.icons.automotive{margin-top:3px;background-position:-96px 0}
.icons.pets{margin-top:3px;background-position:-108px 0}
.icons.food-and-gourmet{margin-top:3px;background-position:0 0}
.icons.gifts-and-flowers{margin-top:3px;background-position:0 0}
.icons.office-furniture-machines-supplies{margin-top:3px;background-position:0 0}
.icons.cellular-and-accessories{margin-top:3px;background-position:0 0}
.icons.aviation-and-marine{margin-top:3px;background-position:0 0}
.icons.micellaneous{margin-top:3px;background-position:0 0}
.icons.home-and-garden{margin-top:3px;background-position:0 0}
.icons.health-fitness-beauty{margin-top:3px;background-position:0 0}
.icons.services{margin-top:3px;background-position:0 0}
.icons.tools-and-machinery{margin-top:3px;background-position:0 0}


.icons{background-image:url(../../static/images/icons/icons.png);background-repeat:no-repeat;height:12px;margin:0;padding:0;vertical-align:top;width:12px;border:0}
.icons.topRev{margin-top:3px;background-position:0 0}
.icons.totalReviews{margin-top:3px;background-position:-12px 0}
.icons.helpfulReviews{margin-top:3px;background-position:-24px 0}
.icons.speech{margin-top:3px;background-position:-36px 0}
.icons.forumPosts{margin-top:3px;background-position:-48px 0}
.icons.homePage{margin-top:3px;background-position:-60px 0}
.icons.memberSince{margin-top:3px;background-position:-72px 0}
.icons.lastVisit{background-position:-83px 0}
.icons.ratings{background-position:-95px 0}
.icons.flag{margin-top:3px;background-position:-106px 0}
.icons.date{margin-top:3px;background-position:-119px 0}
.swipe{overflow:hidden;visibility:hidden;position:relative}
.swipe-wrap{overflow:hidden;position:relative}
.swipe-wrap>div{float:left;width:100%;position:relative}
.ui-datepicker th{font-size:12px}
.offscreen{position:fixed;right:101%;width:1px;height:1px;overflow:hidden}

.commentAdmin {float: right;position: relative;width: 450px;padding: 5px;}
.admindispute {color: #da5c00;font-size: 15px;}
.disputed-comment {background-color: #FFF4E2;border: 0 solid #EFE0C8;float: right;padding: 15px;position: relative;width: 490px;}
.avatarAdmin {float: left;width: 50px;padding-right: 10px;}
.label.round {padding: 6px 10px 5px;margin-left: 10px;}
.review-body {color: #474747;font-family: 'Open Sans', 'sans-serif';font-size: 14px;line-height: 24px;margin-top: 10px;word-wrap: break-word;overflow: hidden;}
#pointer-dispute {border: solid 10px transparent;border-right-color: #FFF4E2;position: absolute;margin: 10px 0 0 -35px;}

.top-bar ul>li.toggle-topbar a{margin-top:26px}
.top-bar{height:45px;line-height:45px;margin:0 0 30px;padding:0;width:100%}
@media only screen and (min-width:940px){.top-bar {background:0 0;}}
@media only screen and (max-width:939px){
    .top-bar ul>li.toggle-topbar a{margin-top:-4px}
    .top-bar{height:45px;line-height:45px;margin:0 0 30px;padding:0;width:100%}
    .top-bar section>ul li a:not(.button){padding-left:22.5px!important;}
}
.top-bar ul>li.active:not(.name) a, .top-bar ul>li.has-dropdown a:after{border-color:#1d83da rgba(0,0,0,0) rgba(0,0,0,0)}
.top-bar ul>li a:not(.button){font-size: 11px; font-size: 1.1rem; text-transform: uppercase; font-weight: 500; font-family: "Proxima Nova",proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;  color:#1d83da;font-size:11px;line-height:45px;font-weight:bold}
.top-bar ul>li.divider{background:none repeat scroll 0 0 #e6e6e6;box-shadow:1px 0 0 rgba(255,255,255,.1);height:100%;margin-right:1px;width:1px}
.top-bar ul>li.search:hover{background:red}
.top-bar ul>li.has-dropdown .dropdown li{background-color:#fff}
.top-bar ul>li.has-dropdown .dropdown li:hover{background:none repeat scroll 0 0 transparent;background-color:#ecebeb}
.top-bar ul>li.has-dropdown .dropdown li a{color:#4D90E7;line-height:2}
.top-bar ul>li.has-dropdown .dropdown{background:#fff;left:0;margin:0;padding:9px 0 0;position:absolute;visibility:hidden;z-index:99}
.top-bar ul>li.has-dropdown .dropdown li.has-dropdown:hover>.dropdown{display:block;background-color:#fff}
.top-bar ul>li.has-dropdown.moved .back.title h5 a{font-size:17px;font-weight:700}
.top-bar ul>li.has-dropdown.moved .back.title a:before{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;border-color:rgba(0,0,0,0) #1d83da rgba(0,0,0,0) rgba(0,0,0,0);border-image:none;border-style:solid;border-width:5px;content:"";display:block;height:0;left:17.5px;margin-top:-5px;position:absolute;top:50%;width:0}
.top-bar ul>li.has-dropdown .dropdown li a:hover,.top-bar ul>li.has-dropdown .dropdown li.active a{background:0 0}
.red{color:red;}
#merchant-ads {width: 270px;}
#merchant-ads ul li {display: inline-block;padding-right: 10px;width:125px;}
